<%= erb :header %>

<div class="container">
  <div class="row">
    <div class="span2">
      <h2><a href="/projects/<%= @project.id %>" id="project"><%= @project.name.gsub(" ", "&nbsp;") %></a></h2>
    </div>
  </div>

  <iframe width="1200" height="900" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR8ZUhvrVS5WYqi2gPSMjxK29ioXCVfoCZjyMG--dWaL0dNO_XTqNqH5rnXPiwr_DZo1ZpVCNxCLEXy/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

</div>

<%= erb :footer %>
